body
{
  font-family: Arial;
  background-color: #d6ffc8;
}

header
{
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: white;
  height: 182px;
  background-image: url("fond.jpg");
}

header p
{
  font-weight : bold;
  margin : 0px;
  margin-left: 20px;
  margin-right: 20px;
  color : black;
}

nav
{
  position : fixed;
  top : 182px;
  left : 0px;
  border-right : 1px black solid;
  width : 300px;
  height : 100%;
}

nav a
{
  display : block;
  padding : 25px;
  font-size : 30px;
}

footer
{
     background-color : silver;
     padding: 0px;
}

footer img
{
     width : 60px;
     height : 60px;
     display : inline-block;
     border-radius : 10px;
}